<!DOCTYPE html>
<html>
<head>

<h1 style="color:#060461; text-align: center">Przygody Reksia &reg;</h1>
<h2 style="color:#a718b4e0; text-align: center" title="Traduction en francais">Les aventures de Reksio</h2>
<link rel="stylesheet" href="{{url_for('static', filename='css_files/index.css')}}"> 
</head>

<body>
<p title="Traduction">Le cricket joue pour Reksio a l'heure du coucher.</p>
<p title=Description>
    Dans chaque épisode, le chien vit des aventures liées à ce qu'il veut devenir ou à l'animal (principalement des oiseaux), à la saison ou à la chose à laquelle il est confronté.
    </p>

<img src="{{url_for('static', filename='pics/Reksio.png')}}" alt="Reksio" width="480" height="380">
<img src="{{url_for('static', filename='pics/Reksio2.webp')}}" alt="Reksio2" width="480" height="380">

<form action="{{url_for('Page2')}}">
    <input type="submit" value="Regarder Reksio" />
</form>

<p><b>
    W Szczebrzeszynie chrząszcz brzmi w trzcinie. &#128512;
    </b></p>

    <a href="{{url_for('gallery_flexbox')}}"> Gallery </a>

</body>
</html>
